<!-- <div class="container">
  <p>{{ list | json }}</p>
</div> -->
<div class="container">
  <div class="secondary-container">
    <div>
      <label>Enter your name</label>
      <input type="text" #name />
    </div>
    <div>
      <label for="age">Enter your age</label>
      <input type="number" #age />
    </div>
  </div>

  <h1>Table</h1>
  <div class="data-table">
    <div>
      <label for="">Name:</label>
      <h4>{{ name.value }}</h4>
    </div>
    <div>
      <label for="">Age:</label>
      <h4>{{ age.value }}</h4>
    </div>
  </div>
  <button (click)="addData(name.value, age.value)">Add Data</button>
</div>
